.stories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    overflow: hidden;   
    // display: flex;
    // flex-direction: column;
    // width: 100%;

    &__story{
        // border: 1px solid white; 
    }

    &__img-wrapper{
        border: 2px solid rgb(255, 0, 119);
        border-radius: 50%;
        overflow: hidden;
    }

    &__img{
        max-width: 100%;
        display: block;
    }

    &__name{

    }
}

